
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Acme';
}

.container {
    position: relative;
    width: 100vw;
    height: 200vh;
     /* Adjust the height as needed */
}

.wrapper {
    background-color: #3A606E;
    position: relative;
    width: 100vw;
    height: 140vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    
}

#title {
    margin: 0;
    position: absolute;
    width: 100vw;
    text-align: center;
    font-size: 10vw; /* Responsive font size */
}

#angi {
    color:#FFECCC;
    position: absolute;
    font-size: 10vw; /* Responsive font size */
    top: 25%;
    
}
#make{
    position:inherit;
    font-size:2vw;
    color:white;
    top:180%;
    left:22%;
}
#make:hover{
    color:darkred;
}

#angi #make:hover { 
    animation-name: shake1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
} 

@keyframes shake1 {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 2px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px); }
    100% { transform: translate(1px, -2px); }
}

#head {
    position: absolute;
    max-width: 50vmin; /* Adjust the value as needed */
    top:5vh;
    left: 55%;
    transform:  rotate(15deg);
}

#head:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    max-width: 52vmin;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(15deg); }
    10% { transform: translate(-1px, -2px) rotate(14deg); }
    20% { transform: translate(-3px, 0px) rotate(16deg); }
    30% { transform: translate(3px, 2px) rotate(15deg); }
    40% { transform: translate(1px, -1px) rotate(16deg); }
    50% { transform: translate(-1px, 2px) rotate(14deg); }
    60% { transform: translate(-3px, 1px) rotate(15deg); }
    70% { transform: translate(3px, 1px) rotate(14deg); }
    80% { transform: translate(-1px, -1px) rotate(16deg); }
    90% { transform: translate(1px, 2px) rotate(15deg); }
    100% { transform: translate(1px, -2px) rotate(14deg); }
  }
  




.angicat {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50vw; 
    height: auto; 
    z-index: 10;
    border-radius: 5%;
}

.menu-container {
    display: flex; /* Add this line */
    justify-content: flex-start; /* Align items to the left */
    width: 22%;
    position: fixed;
    top: 2vh;
    left: 2vh; /* Set the left position to 0 */
    padding: 10px;
    box-sizing: border-box;
    z-index: 12;
    height:12%;
    gap:.5vw;
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.5);
}

.menu-item {
    
    color: #fff;

    cursor: pointer;
    transition: transform 0.3s ease;
    width:30vw;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
 
}

  
.menu-item:not(:first-child) {
  
    opacity: 1;
}
.menu-item:first-child{
    margin-left:.15vw;
}
  
.menu-container.stacked .menu-item:not(:first-child) {
display:none;
}
.menu-container.stretch .menu-item{
    width:30%;
}

.menu-container.stacked #item1 {
    flex-grow: 1;
  }

.menu-item:hover{
    scale:1.1;
}

#item1{
    background-image: url('madangi.png');
    
}
#item2{
    background-image: url('dexs.png');
}
#item3{
    background-image: url('tele.png');
}
#item4{
    background-image: url('xlogo.png')
}



.wrapper2{
    background-color: #FFECCC;
    position: relative;
    width: 100vw;
    height: 335vh;
    top:-102%;
}

.positions-container {
    position: relative; /* Establish a positioning context */
    width: 80%;
    height: auto;
    
}

#CA{
    position: absolute;
    background-color: #3A606E;
   
    height: 2vw;
    font-size: 1.8vw;
    text-align: center;
   
    box-sizing: border-box;
    margin-bottom: 5vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: 100px;
}

#CA {
    width: 40%;
    top: 115vh; /* Adjust this value to lower the div */
    left: 34vw;
    cursor: pointer;

}
#CA:hover{
    scale:1.02;
}



#addy{
    margin: 0;
    font-family: "Anek Latin", sans-serif;
    color:#FFECCC;
    font-size: 1rem;
 
}

.popup-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.474);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 11;
    color:white;
  }

.roadmap {
    background-color: #3A606E;
    position: absolute;
    z-index: 10;
    width: 50vw;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    font-size: 3vw;
  }
#devw, #dex, #active, #send, #cm{
    color:#FFECCC;
    text-align: center;
    margin-top: 6vh;
}
#cm{
    font-size: 5vw;
   
    margin-bottom: 1vh;
    margin-top: 2vh;
}
#send{
    font-size: 4.2vw;
    margin-top: 1vh;
    
    
}
#send a{
    color:black;
    
}

.memeh{
    position: absolute;
    top:230vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    
}

.memeh img{
    flex: 1 0 auto;
    margin: 0 5px;
    max-width: 25%;
    height: auto;


}
#tiltedl{
    transform: rotate(-15deg);
    top:20vh;
}
#tiltedr{
    transform: rotate(15deg);
    top:15vh;
}
#tiltedl, #tiltedr{
    position: relative;
    
}
#tiltedr:hover{
    animation: shake 0.1s infinite; 
}
#tiltedm:hover{
    animation: vshakem 0.1s infinite 
}

#tiltedl:hover{
    animation: vshakel 0.1s infinite; 
}
@keyframes vshakem {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes vshakel {
    0% { transform: translate(1px, 1px) rotate(-15deg); }
    10% { transform: translate(-1px, -2px) rotate(-16deg); }
    20% { transform: translate(-3px, 0px) rotate(-14deg); }
    30% { transform: translate(3px, 2px) rotate(-15deg); }
    40% { transform: translate(1px, -1px) rotate(-14deg); }
    50% { transform: translate(-1px, 2px) rotate(-16deg); }
    60% { transform: translate(-3px, 1px) rotate(-15deg); }
    70% { transform: translate(3px, 1px) rotate(-16deg); }
    80% { transform: translate(-1px, -1px) rotate(-14deg); }
    90% { transform: translate(1px, 2px) rotate(-15deg); }
    100% { transform: translate(1px, -2px) rotate(-16deg); }
}

.footer {
    width: 100%;
    height: 15vh;
    background-color: rgb(161, 65, 65);
    z-index: 15;
    position: absolute;
    top:443%;
  }
  
#c {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.5rem;
}
  
#c n {
    font-weight: bold;
}


/* Media queries for different screen sizes */
@media (max-width: 768px) {
    #title {
        font-size: 15vw;
    }
    #angi {
        font-size: 12vw;
    }
    .rotate-image {
        width: 70vw;
    }
    .angicat {
        width: 30vw; /* Adjust size as needed */
    }
}

@media (max-width: 480px) {
    #title {
        font-size: 20vw;
    }
    #angi {
        font-size: 16vw;
    }
    .rotate-image {
        width: 80vw;
    }
    .angicat {
        width: 40vw; /* Adjust size as needed */
    }
}